@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000">
    <title>GOV.UK Pulse @ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"
              asp-fallback-href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css"
              asp-fallback-href="~/lib/datatables-responsive/css/responsive.bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">GOV.UK Pulse</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li>
                        <a href="https://jamiemagee.co.uk">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <p>
                This website was built by <a href="https://jamiemagee.co.uk">Jamie Magee</a> and is <a href="https://github.com/JamieMagee/GovUK-Pulse">released as open source</a>. It is in <strong>no way</strong> affiliated with GOV.UK.
            </p>
            <p>
                SSL Labs grades are used with permission, and powered by the <a href="https://www.ssllabs.com/">Qualys SSL Labs API</a>.
            </p>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/lib/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="~/lib/DataTables/media/js/dataTables.bootstrap.js"></script>
        <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ga.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js"
                asp-fallback-src="~/lib/d3/d3.js">

        </script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
                asp-fallback-src="~/lib/DataTables/media/js/jquery.dataTables.js">
        </script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"
                asp-fallback-src="~/lib/datatables/media/js/dataTables.bootstrap.js">
        </script>
        <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"
                asp-fallback-src="~/lib/datatables-responsive/js/dataTables.resposive.js">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ga.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", false)
</body>
</html>
