@{
    ViewData["Title"] = "Error";
}

<header>
    <div class="col-md-offset-2 col-md-5">
        <h1>Oops!</h1>
        <h2>
            Click <a asp-controller="Home" asp-action="Index">here</a> to go back to the home page
        </h2>
    </div>
    <div class="col-md-5">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    </div>
</header>
