@{
    ViewData["Title"] = "- About";
}

<header>
    <div class="container">
        <h1>About GOV.UK Pulse</h1>
        <p>
            GOV.UK Pulse is a personal project of Jamie Magee that measures how British Government domains are following best practices for modern websites.
        </p>
        <p>
            GOV.UK Pulse is based off the project <a href="https://pulse.cio.gov/">Pulse</a> by the General Services Administration of the United States Government.
        </p>
        <p>
            GOV.UK Pulse is also an experiment built on automated tools, and is <del>probably</del> definitely not perfect. GOV.UK Pulse measures domains over the public internet using open source tools, and its results can be reviewed by anyone.
        </p>
    </div>
</header>

<div class="container">
    <h2>Frequently Asked Questions</h2>
    <ul class="list-unstyled">
        <li>
            <a href="#1"> What does GOV.UK Pulse measure?</a>
        </li>
        <li>
            <a href="#2">What GOV.UK domains are being measured?</a>
        </li>
        <li>
            <a href="#3">What is HTTPS, and why does Pulse measure it?</a>
        </li>
        <li>
            <a href="#4">When was the data last updated on Pulse?</a>
        </li>
        <li>
            <a href="#5"> Where can I send feedback?</a>
        </li>
        <li>
            <a href="#6">Your information about my domain is wrong! Can you please fix it?</a>
        </li>
        <li>
            <a href="#7">Where can I see the code behind GOV.UK Pulse?</a>
        </li>
    </ul>

    <ul class="list-unstyled" id="faq-answers">
        <li id="1">
            <h3>
                What does GOV.UK Pulse measure?
            </h3>
            <p>
                GOV.UK Pulse measures the strength of HTTPS in place on any given domain.
            </p>
        </li>
        <li id="2">
            <h3>
                What GOV.UK domains are being measured?
            </h3>
            <p>
                Currently, GOV.UK Pulse uses the <a href="https://www.gov.uk/government/publications/list-of-gov-uk-domain-names">official .gov.uk domain list</a> as a starting point. Unfortunately this list is only updated once every year.
            </p>
        </li>
        <li id="3">
            <h3>
                What is HTTPS, and why does GOV.UK Pulse measure it?
            </h3>
            <p>
                HTTPS provides a secure connection across the internet between websites and their visitors, and is becoming the new baseline for public web services across the internet.
            </p>
            <p>
                Note that HTTPS generally does not affect whether a website is vulnerable to hacking.
            </p>
        </li>
        <li id="4">
            <h3>
                When was the data last updated on Pulse?
            </h3>
            <p>
                The list of GOV.UK domains used was generated on <strong>October 1, 2015</strong>.
            </p>
            <p>
                HTTPS and TLS data is automatically collected daily.
            </p>
        </li>
        <li id="5">
            <h3>Where can I send feedback?</h3>
            <p>
                You can contact me <a href="//twitter.com/Jamie_Magee">on Twitter</a> or open an issue <a href="https://github.com/JamieMagee/GovUK-Pulse">on GitHub</a>.
            </p>
        </li>
        <li id="6">
            <h3>Your information about my domain is wrong! Can you please fix it?</h3>
            <p>
                If you just changed something about your domain to address an issue on GOV.UK Pulse, be aware that data does not update instantaneously, and so there may be a delay before your domain's information updates.
            </p>
            <p>
                Please note that this website is currently an experiment and still in beta testing. If you see a mistake, please contact me <a href="//twitter.com/Jamie_Magee">on Twitter</a>.
            </p>
        </li>
        <li id="7">
            <h3>Where can I see the code behind GOV.UK Pulse?</h3>
            <p>
                You can find the code behind the the scanner and website <a href="https://github.com/JamieMagee/GovUK-Pulse">on Github</a>.
            </p>
        </li>
    </ul>
</div>
