@using System.Threading.Tasks
<header>

    <div class="https_chart col-md-offset-1 col-md-4" data-width="250"></div>

    <div class="description col-md-6">
        <h1>Secure HTTP (HTTPS)</h1>
        <h2>
            Last updated <strong class="last-modified"></strong>
        </h2>
        <p>
            This data measures whether GOV.UK support the HTTPS protocol (<code>https://</code>), and the strength of that support. HTTPS provides a secure connection across the internet between websites and their visitors, and is becoming the new baseline for public web services.
        </p>
        <p>
            Note that HTTPS generally <strong>does not affect</strong> whether a website is vulnerable to hacking.
        </p>

        <p>
            HTTPS and TLS data was last collected through a scan of the public internet on the <strong class="last-modified"></strong>.
        </p>
    </div>

</header>

<div class="container body-content">
    <table class="table display responsive nowrap">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Uses HTTPS</th>
            <th>SSL Labs Grade</th>
        </tr>
        </thead>
    </table>
</div>